
.vs/Pharmacy Manager/FileContentIndex/4b7c69b3-bca5-41f0-8194-6390fed3f992.vsidx
.vs/Pharmacy Manager/FileContentIndex/ab34d1c8-3571-446a-85e5-426334cc930b.vsidx
.vs/Pharmacy Manager/FileContentIndex/baaf0c95-7e23-4d6e-8e6f-77dc4ccf1439.vsidx
